{% extends 'base.html.twig' %}

{% block title %}{{'home.connexion'|trans}} !{% endblock %}

{% block body %}
<form method="post" >
    <div class="form-row text-center justify-content-center align-items-center">
        <div class=" col-6 m-4">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <h1 class="h3 font-weight-normal">{{'home.connexion'|trans}}</h1>

                    <label for="inputUsername">{{'home.username'|trans}}</label>
                    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="username" required autofocus>

                    <label for="inputPassword">{{'home.password'|trans}}</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="password" required>

                <input type="hidden" name="_csrf_token"
                    value="{{ csrf_token('authenticate') }}"
                >
                <div class="m-2">
                <button type="submit" class="btn btn-lg btn-primary col-md-4">{{'home.connect'|trans}}</button>
                </div>
                <div  class="m-2">
                <a class="btn btn-lg btn-primary col-md-4" href="{{ path('app_register') }}" role="button">{{'home.inscription'|trans}}</a>
                </div>
                {% if app.user %}
                    <div>
                        Vous êtes deja connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">se déconnecter</a>
                    </div>
                {% endif %}
        </div>
    </div>

</form>
{% endblock %}
