{% extends 'base.html.twig' %}

{% block title %}{{'form.titleRegistration'|trans}} !{% endblock %}

{% block body %}
    <div class="form-row text-center justify-content-center align-items-center">
        <div class=" col-6 m-3">
            <h1>Inscription !</h1>

            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.username) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.password) }}
                {{ form_row(registrationForm.agreeTerms) }}

                <button type="submit" class="btn btn-success">Inscription</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
