{% extends 'base.html.twig' %}
{% block title %}Forgotten password{% endblock %}
{% block body %}
Hi {{ name }}!
{# example, assuming you have a route named "login" #}
To reset your password, go to: <a href="{{ url('app_reset_password',
{'token': token}) }}">...</a>.
Thanks!
{% endblock %}