{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h3>You did it! You registered!</h3>
    Hi {{ name }}! You're successfully registered.
    {# example, assuming you have a route named "login" #}
    To login, go to: <a href="{{ url('app_login') }}">...</a>.
    Thanks!
{% endblock %}
