{% extends 'base.html.twig' %}
{% block title %}
    {{'cities.listing'|trans}}
{% endblock %}
{% block body %}
     

    {% if (is_granted('ROLE_USER') or is_granted('ROLE_ADMIN')) %}

        <h1 class="text-center"> {{'cities.listing'|trans}} </h1>

        {# <button type="submit" class="btn btn-success">{{ 'home.lang'|trans }}</button> #}
    
        {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ path('cities_create') }}" class="btn btn-primary">{{'cities.add'|trans}}</a>
        {%endif%}

        <a href="{{ path('app_logout') }}" class="btn btn-primary">{{'home.disconnect'|trans}}</a>
    
    
        <table data-page-length='20' cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="list" width="100%">
            <thead>
                <tr>
                    <th>{{'cities.id'|trans}}</th>
                    <th>{{'cities.name'|trans}}</th>
                    <th>{{'cities.country'|trans}}</th>
                    <th>{{'cities.population'|trans}}</th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th></th>
                        <th></th>
                    {%endif%}
                    
                </tr>
            </thead>
            <tbody>
                {% if cities is defined %}
                    {% for city in cities %}
                    <tr>
                        <th scope="row">{{ city.id }}</th>
                        <td>{{ city.name }}</td>
                        <td>{{ city.countrycode.getName() }}</td>
                        <td>{{ city.population |number_format }}</td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <td><a href="{{ path('cities_edit', {'id': city.id}) }}" class="btn btn-success">{{'cities.update'|trans}}</a></td>
                            <td><a href="{{ path('cities_delete', {'id': city.id})}}" class="btn btn-danger">{{'cities.delete'|trans}}</a></td>
                        {%endif%}
                        
                        
                    </tr>
                    {% endfor %}
                {% endif %}
            </tbody>
            <tfoot>
                <tr>
                    <th>{{'cities.id'|trans}}</th>
                    <th>{{'cities.name'|trans}}</th>
                    <th>{{'cities.country'|trans}}</th>
                    <th>{{'cities.population'|trans}}</th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th></th>
                        <th></th>
                    {%endif%}
                </tr>
            </tfoot>
        </table>
    {% else %}
        <div class="text-center justify-content-center align-items-center m-3">
            <h1>{{'message.notConnectedTitle'|trans}} !</h1>
            <p>{{'message.notConnected'|trans}}</p>
            <a href="{{ path('app_login') }}" class="btn btn-primary">{{'home.connect'|trans}}</a>
        </div>
    {% endif %}

{% endblock %}

{% block javascripts %}
    <script>
    $(document).ready(function() {
        $('#list').dataTable( {
            "lengthChange": false
        } );
    } );
    </script>
{% endblock %}
